/*
 Theme Name: Perfect
 Theme URI: http://wordpress.org/
 Description: The 2010 theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Twenty Ten supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
 Author: the WordPress team
 Version: 1.1
 Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
 */

/*@import url("./stylesheets/style-blue.css");*/
@import url("./stylesheets/style-green.css");
/*@import url("./stylesheets/style-orange.css");*/

/* Search button & input */
#s {
	width: 163px;
	float: left;
	margin: 0;
	margin-right: 8px;
	padding: 5px;
}
.bot_widget #s {
	width: 120px;
	float: none;
	margin: 0px 0px 10px 0px;
}

/* Buttons */
#searchsubmit {
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	position: relative;
	float: left;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	margin: 0;
	padding: 3px 10px;
	color: #000;
	border: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	background: #ccc;
}
#searchsubmit:hover {
	background: #FF6E00;
	color: #fff;
	text-decoration: none;
}

/* Inputs */
textarea, input[type="text"], input[type="password"], select {
	color: #747474;
	border: 1px solid #D7D7D7;
	background: none repeat scroll 0 0 #fff;
}

textarea, input[type="text"], input[type="password"], select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover, select:hover {
	color: #000;
	border-color: #f1f0f0;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
	color: #000;
	outline: none;
}

/* ======================== Content ================================*/

.page-title {
	font: 27px/27px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #46403B;
	margin: 0;
	padding: 0;
}

.page-title {
	color: #000;
	text-transform: none;
	text-align: center;
}
.page-title	span {
	color: #FF6E00
}

.screen-reader-text {
	font: 18px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #656565;
	display: block;
	margin: 0;
	padding: 0 0 20px;
}
/* Comment form */
p.nocomments {
	margin-top: 30px;
}
#respond h3 {
	margin-bottom: 15px;
}
#commentform {

}
#commentform p.field {
	margin-bottom: 5px;
}
#commentform small {
	color: #8b8b8b;
}
#commentform label {
	display: block;
}
#commentform input[type=text] {
	width: 250px;
	padding: 4px;
	border: 1px solid #CCCCCC;
}
#commentform textarea {
	width: 460px;
	height: 150px;
	padding: 4px;
	overflow: auto;
	border: 1px solid #CCCCCC;
}
#commentform #submit {
	background: #ff6e00;
	height: 30px;
	line-height: 30px;
	width: 120px;
	padding: 0 10px;
	color: #fff;
	cursor: pointer;
	border: none;
}
#commentform #submit:hover {
	background: black;
}

#commentform input[type=text]:hover, #commentform input[type=text]:focus, #commentform textarea:hover, #commentform textarea:focus {
	background: #f8f8f8;
}

/* Comments
 ---------------------------------------- */
h3#comments {
	padding-top: 35px;
	margin-bottom: 20px;
}
.commentlist {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li.comment {
	list-style-type: none;
	overflow: hidden;
}
.odd {

}
.even {

}
li.comment .comment-body {
	padding: 10px 10px 25px 60px;
	position: relative;
	zoom: 1;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	color: #565350;
}
.author-comment {

}
.comment-author {
	padding: .5em 0 1em 0;
}
.comment-text {

}
.comment-meta {
	font-size: 11px;
	color: #999;
	position: absolute;
	right: 20px;
	top: 15px;
}
li.comment .avatar {
	float: none;
	margin: 0;
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 1px;
	border: 1px solid #dbdbdb;
	vertical-align: top;
	overflow: hidden;
}
li.comment .avatar {
	display: block;
	vertical-align: top;
	overflow: hidden;
}

.commentlist ul.children {
	margin: 20px 0 0 28px;
}
.commentlist ul.children li.comment {

}

.reply {
	position: absolute;
	right: 20px;
	bottom: 15px;
}
.reply a {
	display: inline-block;
	background: #ff6e00;
	padding: 3px 8px;
	color: #fff;
	text-decoration: none;
}
.reply a:hover {
	background: black;
	color: white;
}

.widget h3 a {
	text-decoration: none !important;
	color: #000000;
}
