html, body		{height: 100%;}

/*Opera Fix*/
body:before 	{
				content:"";
				height:100%;
				float:left;
				width:0;
				margin-top:-32767px;/
				}

body			{
				margin:0;
				padding:0;
				text-align:left;
				font-size:72%;
				font-family:Arial, Helvetica, sans-serif;
				line-height:1.6em;
				color:#565350;
				background:url(../images/bg.gif) #F7F6F5;
				}

a 				{
				color:#FF6E00;
				text-decoration:underline;
				}
		
a:hover 		{
				color:#090808;
				text-decoration:none;
				}

p				{
				margin:0;
				padding:0 0 1.4em 0;
				}
				
ol				{
				margin:0;
				padding:0 0 0 2em;
				color:#fff;
				}
				
ol li			{
				padding:7px 0 9px;
				position:relative;
				}

img				{border:0;}

div				{
				margin:0;
				padding:0;
				text-align:left;
				}

small			{font-size:0.8em;}

form			{
				margin:0;
				padding:0;
				border:none;
				}
				
fieldset, label	{
				border:0;
				margin:0;
				padding:0;
				}
				
input, select, textarea {
				font:1em Arial, Helvetica, sans-serif;
				color:#ffffff;
				border:0;
				background:none;
				}

.container		{
				width:1040px;
				min-height: 100%;
				margin:0 auto;
				}
				
/* ====================== head ==============================*/

.top			{
				height:25px;
				padding:9px 30px;
				color:#A0A0A0;
				font:11px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				border-bottom:1px solid #DEDEDE;
				}
				
.top a			{
				color:#A0A0A0;
				text-decoration:none;
				}
				
.top a:hover	{
				color:#FF6E00;
				text-decoration:none;
				}
				
#menu-top-menu	{
				margin:0;
				padding:8px 0;
				list-style:none;
				float:right;
				}
				
#menu-top-menu li	{
				margin:0 0 0 5px;
				padding:0 0 0 5px;
				float:left;
				line-height:0.9em;
				border-left:1px solid #A0A0A0;
				}
				
#menu-top-menu li:first-child	{border-left:none;}
				
.top_menu		{
				margin:0;
				padding:0 0 0 10px;
				list-style:none;
				float:right;
				}
				
.top_menu li	{
				margin:0;
				padding:0 0 0 6px;
				float:left;
				}
				
a.icon1, a.icon2, a.icon3	{
				width:23px;
				height:23px;
				overflow:hidden;
				display:block;
				float:left;
				border:1px solid #DEDEDE;
				}
				
a:hover.icon1, a:hover.icon2, a:hover.icon3	{border:1px solid #FF6E00;}
				
.icon1			{background:url(../images/icon1.jpg) 0 0 no-repeat;}
.icon2			{background:url(../images/icon2.jpg) 0 0 no-repeat;}
.icon3			{background:url(../images/icon3.jpg) 0 0 no-repeat;}

#header			{
				width:940px;
				margin:0 auto;
				padding:20px;
				background:#fff;
				border-left:1px solid #E4E4E4;
				border-right:1px solid #E4E4E4;
				}
				
.head			{
				height:70px;
				position:relative;
				}

div.logo		{
				width:520px;
				height:70px;
				overflow:hidden;
				float:left;
				background:url(../images_orange/logo.png) 0 0 no-repeat;
				}
				
a.logo			{
				display:block;
				outline:none;
				padding-left:70px;
				font:bold 44px/50px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#46403B;
				text-decoration:none;
				}
				
a:hover.logo	{
				color:#FF6E00;
				text-decoration:none;
				}
				
span.slogan		{
				display:block;
				padding-left:70px;
				font:10px/10px Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#938C86;
				}
				
.welcome_msg	{
				float:right;
				text-align:right;
				font:11px/11px Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				margin-bottom:20px;
				color:#FF6E00;
				}
				
.log_reg		{
				margin:0;
				padding:0;
				list-style:none;
				float:right;
				clear:right;
				}
				
.log_reg li		{
				margin:0;
				padding:0;
				float:left;
				}
				
.log_reg li a	{
				color:#444444;
				padding:8px 9px;
				display:block;
				float:left;
				text-transform:uppercase;
				text-decoration:none;
				}
				
.log_reg li a:hover	{
				color:#fff;
				background:#FF6E00;
				text-decoration:none;
				}
				
.page_slogan	{
				padding:35px 30px;
				top:-40px;
				position:relative;
				background:#FF6E00;
				}

/* ======================== Menu ================================*/

#menu			{
				border-top:1px solid #E4E4E4;
				border-bottom:1px solid #E4E4E4;
				position:relative;
				z-index:100;
				}
				
#menu ul		{
				margin:0;
				padding:0 30px;
				list-style:none;
				}
				
#menu li		{
				margin:0;
				padding:0 5px 0 0;
				float:left;
				font-size:14px;
				text-transform:uppercase;
				}
				
#menu li li		{
				padding:0;
				font-size:12px;
				border-bottom:1px solid #696460;
				}

#menu li a		{
				position:relative;
				display:block;
				float:left;
				padding:25px 15px;
				color:#444444;
				text-decoration:none;
				}
				
.sf-menu li.sfHover,
#menu li a:hover	{
				color:#fff;
				background:#FF6E00;
				text-decoration:none;
				}
				
#menu li.current_page_item a,
#menu li.current-menu-item a{
				color:#fff;
				background:#FF6E00;
				}
				

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			4.55em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			175px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/

#menu .sf-menu li ul {
	width:auto;
	margin:0;
	padding:0;
	background:	#46403B;
}
#menu .sf-menu li ul li {
	width:175px;
	position:relative;
}
#menu .sf-menu li ul ul {margin:0;}
#menu li li a {
	width:145px;
	padding:10px 15px;
	color:#fff;
	display:block;
}

#menu .sf-menu li.sfHover li a	{
	padding:10px 15px;
	background:#46403B;
}

.sf-menu li li:hover, .sf-menu li li.sfHover,
#menu .sf-menu li.sfHover li a:hover, #menu .sf-menu li.sfHover li a:focus, #menu .sf-menu li.sfHover li a:active,
.sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active {
	outline:0;
	color:#fff;
	background:#FF6E00;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
	position:		absolute;
	display:		none;
	left:			50%;
	margin-left:	-5px;
	margin-top:20px;
	top:			2.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat 0 -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: -10px -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: 0 -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	padding: 0 8px 9px 0;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}


				
/* ======================== Slider ================================*/

#tmpSlideshow	{
				margin:20px auto 0;
				position:relative;
				width:938px;
				height:385px;
				}
				
div.tmpSlide 	{
				position: absolute;
				top: 0;
				left: 0;
				width: 938px;
				height: 385px;
				display: none;
				}

div.tmpSlide img {
				float: left;
				width: 626px;
				height:385px;
				overflow:hidden;
				}

div#tmpSlideshowControls {
				position: absolute;
				bottom: 34px;
				right: 185px;
				}

div.tmpSlideshowControl {
				width:19px;
				height:19px;
				display:block;
				text-indent:-9999px;
				margin-right:3px;
				float:left;
				position:relative;
				z-index:99;
				cursor:pointer;
				background:url(../images/bull.png) -22px 0 no-repeat;
				}

div.tmpSlideshowControlOn,
div.tmpSlideshowControlActive {
				font-weight:bold;
				background:url(../images/bull.png) 0 0 no-repeat;
				}

div.tmpSlideCopy {
				position: absolute;
				padding: 100px 35px;
				background-color: #FF6E00;
				color: #ffffff;
				top: 0;
				right: 0;
				width: 242px !important;
				height: 185px;
				}

div#tmpSlideshow h2 {
				font:36px/36px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				padding-bottom:20px;
				color: #ffffff;
				}


/* ======================== Content ================================*/

h1				{
				font:36px/36px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#fff;
				margin:0;
				padding:0;
				}
				
h2				{
				font:27px/27px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#46403B;
				margin:0;
				padding:0;
				}
				
				h2 a	{
				color:#46403B;
				text-decoration:none;
				}
				
h3				{
				font:24px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#46403B;
				margin:0;
				padding:0;
				}

h4				{
				font:18px Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#656565;
				margin:0;
				padding:0 0 20px;
				}
				
h5, h6			{
				font:16px Arial, Helvetica, sans-serif;
				color:#A9A9A9;
				margin:0;
				padding:0 0 1.2em;
				}
				
#content		{
				width:982px;
				margin:0 auto;
				padding-bottom: 65px;  /* must be same height as the footer */
				overflow:auto;
				position:relative;
				z-index:10;
				}
				
.cont_container	{
				width:940px;
				margin-bottom:20px;
				padding:40px 20px;
				background:#fff;
				border:1px solid #E4E4E4;
				border-top:none;
				}

.content		{
				width:610px;
				float:left;
				}
				
.sidebar		{
				width:310px;
				float:right;
				}
				
.title			{
				border-bottom:1px solid #DDDDDD;
				margin-bottom:15px;
				padding:0 0 12px 0;
				}
				
ul.news			{
				margin:0;
				padding:0 0 20px !important;
				list-style:none;
				}
				
ul.news li		{
				width:310px;
				margin:0;
				padding:0;
				}
				
ul.news li .news_excerpt	{
				margin:0;
				padding:10px;
				display:block;
				overflow:hidden;
				text-decoration:none;
				}
				
ul.news li div:hover.news_excerpt{background:#FAF3ED !important;}

a.news_thumb	{
				width:90px;
				height:90px;
				display:block;
				overflow:hidden;
				float:left;
				margin:0 20px 0 0 !important;
				padding:0 !important;
				background:none !important;
				}
				
span.news_date	{
				display:block;
				padding:5px 0;
				font:10px Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#A5A5A5;
				}
				
div.news_excerpt p {
				display:block;
				font:13px/1.6em Arial, Helvetica, sans-serif;
				color:#565350;
				}
				
.widget			{
				position:relative;
				overflow:hidden;
				padding-bottom:40px;
				}
				
.widget ul		{
				margin:0;
				padding:0;
				list-style:none;
				}
				
.widget li		{
				margin:0;
				padding:0;
				border-bottom:1px dashed #E8E8E8;
				}
				
.widget li a	{
				display:block;
				font-size:14px;
				padding:4px 0 4px 28px;
				background:url(../images_orange/arr.gif) 0 5px no-repeat;
				color:#090808;
				text-decoration:none;
				}
				
.widget li a:hover	{
				color:#fff;
				text-decoration:none;
				background:url(../images_orange/arr.gif) 0 5px no-repeat #FF6E00;
				}
				
#bottom_sidebar	{
				width:940px;
				padding:20px;
				overflow:hidden;
				}
				
#bottom_sidebar ul	{
				margin:0;
				padding:0;
				list-style:none;
				}
				
#bottom_sidebar li	{
				margin:0;
				padding:0;
				text-transform:uppercase;
				border-bottom:1px solid #DCDCDC;
				}
				
#bottom_sidebar li a	{
				display:block;
				margin:0;
				padding:8px 15px;
				color:#707070;
				text-decoration:none;
				}
				
#bottom_sidebar li a:hover	{
				color:#fff;
				text-decoration:none;
				background:#FF6E00;
				}
				
.bot_widget		{
				width:130px;
				margin-right:40px;
				float:left;
				}
				
a.more_btn		{
				width:92px;
				height:39px;
				overflow:hidden;
				display:block;
				clear:both;
				color:#46403B;
				text-indent:-9999px;
				outline:none;
				text-decoration:none;
				background:url(../images_orange/read_more.png) 0 0 no-repeat;
				}
				
.post,
.box_main_page	{
				margin-bottom:12px;
				border-bottom:1px solid #DDDDDD;
				}
				
.post_short		{
				padding-bottom:1.5em;
				overflow:hidden;
				}
				

.row			{
				overflow:hidden!important;
				clear:both;
				padding:0px 0px 15px 0px!important; /*line-height:0;*/
				}
			
			.row input { float:left;}
			.row input.send_msg { text-align:left; overflow:hidden; letter-spacing:-1000em;}
			
			.wpcf7-not-valid-tip-no-ajax { display:block; clear:both; padding:14px 0px 14px 0px;}
		
		
				
.read_more		{
				float:left;
				font-size:12px;
				text-transform:uppercase;
				}
				
.comments		{
				float:right;
				font-size:10px;
				color:#BFBFBF;
				text-transform:uppercase;
				}
				
.column_one,
.column_two,
.column_three	{
				width:170px;
				float:left;
				margin-right:40px;
				}
				
.column_three	{margin-right:0;}

.letter			{
				display:block;
				text-align:center;
				color:#46403B;
				font:100px "Trebuchet MS", Arial, Helvetica, sans-serif;
				}
				
.excerpt p		{
				font:16px Arial, Helvetica, sans-serif;
				color:#A9A9A9;
				margin:0;
				padding:0 0 1.2em;
				}

.clear			{
				clear:both;
				height:0;
				}
				
.personnel		{
				margin:0;
				padding:0;
				list-style:none;
				}
				
.personnel li	{
				width:307px;
				overflow:hidden;
				margin:0;
				padding:0 0 20px;
				float:left;
				}
				
.personnel li a,
.person_box		{
				width:287px;
				padding:10px;
				float:left;
				display:block;
				overflow:hidden;
				text-decoration:none;
				color:#8F8F8F;
				}
				
.person_box		{margin-right:20px; margin-bottom:20px;}
				
.personnel li a:hover,
.person_box	{
				color:#fff;
				background:#FF6E00;
				}
				
.personnel li a:hover span,
.person_box span	{color:#fff;}
				
.person_pic		{
				width:287px;
				display:block;
				overflow:hidden;
				margin-bottom:20px;
				}
				
.person_title	{
				display:block;
				font:17px/17px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#343433;
				padding-bottom:5px;
				}
				
.person_dpt		{
				display:block;
				font:15px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				color:#8E8E8E;
				padding-bottom:5px;
				}
				
.person_short	{
				display:block;
				color:#8F8F8F;
				font-size:13px;
				}

.cont_det		{margin-left:330px;}

.services		{
				overflow:hidden;
				zoom:1;
				padding-bottom:20px;
				}
				
a.service_thumb	{
				width:214px;
				height:158px;
				padding:10px;
				display:block;
				overflow:hidden;
				float:left;
				}
				
a:hover.service_thumb	{background:#FF6E00;}

.service_det	{margin-left:255px;}

.clients		{
				width:940px;
				border-top:1px solid #DDDDDD;
				margin:0;
				padding:0;
				list-style:none;
				}
				
.clients li		{
				width:233px;
				height:159px;
				overflow:hidden;
				float:left;
				margin:0;
				padding:0;
				border-left:1px solid #DDDDDD;
				border-bottom:1px solid #DDDDDD;
				}
				
.question		{
				position:relative;
				overflow:hidden;
				zoom:1;
				padding-bottom:8px;
				}
				
				.q, .a	{display:block; float:left; font:18px/16px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#46403B;}
				.question h5	{margin-left:30px; padding:0; line-height:18px;}
				
.answer			{
				position:relative;
				overflow:hidden;
				zoom:1;
				padding-bottom:30px;
				}
				
				.answer_det	{margin-left:30px;}
				
address			{
				display:block;
				margin:0;
				padding:0 0 2em;
				font:16px Arial, Helvetica, sans-serif;
				color:#A9A9A9;
				}
				
.phone			{
				overflow:hidden;
				zoom:1;
				display:block;
				height:20px;
				font-size:12px;
				color:#565350;
				}
				
				.phone label{
				width:100px;
				float:left;
				display:block;
				}
				
.form			{margin-bottom:15px;}
.inp			{
				width:330px;
				padding:9px;
				color:#747474;
				border:1px solid #D7D7D7;
				}
				
.textarea		{
				width:520px;
				padding:9px;
				color:#747474;
				border:1px solid #D7D7D7;
				}
				
.send_msg		{
				width:138px;
				height:35px;
				outline:none;
				cursor:pointer;
				text-indent:-9999px;
				overflow:hidden!important;
				background:url(../images_orange/send_msg.gif) 0 0 no-repeat;
				}
				
.read_more_pic	{
				float:left;
				margin-right:20px;
				margin-bottom:20px;
				}
				
.read_more_det	{margin-left:255px;}

.column_list	{
				width:260px;
				overflow:hidden;
				zoom:1;
				float:left;
				}
				
.column_list ul	{
				margin:0;
				padding:0;
				list-style:none;
				}
				
.column_list ul li	{
				margin:0;
				padding:4px 0 4px 25px;
				font-size:14px;
				background:url(../images_orange/arr.gif) 0 4px no-repeat;
				}
				
/* ================================== jCarousel ======================================= --*/

.jcarousel-skin-tango .jcarousel-container {
    background: #fff;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 941px;
    padding: 0;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  941px;
    height: 450px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 307px;
    height: 450px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin:0 4px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -55px;
    right: 5px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: transparent url(../images_orange/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -27px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -55px;
    right: 35px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: transparent url(../images_orange/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -27px 0;
}


/* ---------------------------------- Paging ----------------------------------------------*/
				
#paging			{
				overflow:hidden;
				zoom:1;
				padding:15px 0;
				font:13px Arial, Helvetica, sans-serif;
				text-transform:uppercase;
				}
				
#paging ul		{
				margin:0;
				padding:0;
				list-style:none;
				}
				
#paging li		{
				margin:0;
				padding:0;
				float:left;
				}
				
#paging .pages	{
				display:block;
				padding-right:15px;
				float:left;
				}
				
#paging li a	{
				color:#565350;
				display:block;
				float:left;
				margin-right:10px;
				text-decoration:none;
				}
				
#paging li a:hover	{
				color:#FF6E00;
				text-decoration:none;
				}
				
#paging li span.current	{
				color:#FF6E00;
				display:block;
				font-weight:bold;
				float:left;
				margin-right:10px;
				text-decoration:underline;
				}
				
#paging a.nextpostslink,
#paging a.previouspostslink {
				float:left;
				margin-right:10px;
				text-decoration:none;
				}
				
/* ---------------------------------- FOOTER ----------------------------------------------*/

#footer			{
				position:relative;
				margin:-65px auto 0; /* negative value of footer height */
				width:980px;
				height:14px;
				padding:25px 30px;
				overflow:hidden;
				clear:both;
				z-index:100;
				font:11px Arial, Helvetica, sans-serif;
				color:#000;
				border-top:1px solid #E4E4E4;
				text-transform:uppercase;
				}
				
#footer a		{
				color:#9D9D9D;
				text-decoration:none;
				}
				
#footer a:hover	{
				color:#000;
				text-decoration:none;
				}
				
.copy			{float:left;}

.f_menu			{
				margin:0;
				padding:0;
				float:right;
				list-style:none;
				}
				
.f_menu li		{
				margin:0;
				padding:0 10px 0 0;
				float:left;
				}
				
#commentform #submit,
.reply a {
	background:#ff6e00;
}				
				
				
/* -- x.x Clearfix -- */
	.clearfix:after, .post:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.clear { clear:both;}
	.clearfix { display: inline-block; }
	/* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */
	.none { display: none; } /* End Clearfix */